@{ 
    ViewBag.Title = "Endodontic - The stages of Root Canal therapy";
}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>@ViewBag.title</h3>
            <h4>Tooth Evaluation</h4>
            <ul>
                <li> The first stage of an endodontic procedure is for the dentists to care fully evaluate your tooth to ensure that root canal therapy is the best treatment option for you.</li>
                <li>Dental x-rays will aid in evaluating the process so that the dentist can look under the surface of your tooth to assess the bone and structures of the root</li>
            </ul>
            <h4>Local Anaesthetic</h4>
            <ul>
                <li>
                    To make the procedure pain less local anaesthetic is administered.
                </li>
                <li>
                    Tooth is covered with a dental dam.
                </li>
                <li>
                    A small opening is made in the crown of the tooth to reach the nerve/pulp.
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h4>Root Cleaning</h4>
            <ul>
                <li> The dentist will remove the diseased nerve/pulp.</li>
                <li> Clean and at the same time shape the canal in the root so that an ideal root filling can be placed.</li>
                <li> A special antiseptic dressing is placed with in the tooth and the cavity is closed with a temporary filling.</li>
                <li>Root cleaning can be finished either in a single or multiple visits depending on the condition of the tooth.</li>
            </ul>
            <h4>Root Filling</h4>
            <ul>
                <li>Finally a special biocompatible root filling is placed into the root canals.</li>
                <li>Then a permanent filling is placed on the top to seal the cavity.</li>
                <li>In most of the situation or case the teeth will require extra protection from fracture so a crown will be the best way to achieve this protection in the long term.</li>
            </ul>
        </div>
     </div>
</div>