@{ 
    ViewBag.Title = "Professional Teeth Whitening";
}

<div class="container">
    <h3>@ViewBag.Title</h3>
    <h4>Tray Based Teeth Whitening.</h4>
    <ul>
        <li>Less concentration of carbamide peroxide used 10-15%</li>
        <li>   Good result achieved with in 14 days.</li>
        <li>  Safely supervised method.</li>
    </ul>
    <h4>
        Advanced Power Teeth Whitening.
    </h4>
    <ul>
        <li>Fast and convenient</li>
        <li>Long lasting</li>
        <li>Low sensitivity</li>
        <li>Safe and effective </li>
        <li>Performed by Dental Professional</li>
        <li>25% hydrogen peroxide based whitening gel is activated with special Zoom mercury halide light for 90 minutes.</li>
    </ul>
    <h4>Internal Teeth Whitening</h4>
    <p>This type of teeth whitening technique is used for a discolored front teeth which has previously had a root canal treatment done.</p>
    <h2>FAQs</h2>
    <h3>1. How safe is teeth whitening?</h3>
    <p>Over a decade of research has proven bleaching and other whitening methods to be both safe and effective. Be sure to look for clinically approved products, follow direction and consult with your dental professional.</p>
    <b>In few cases you may avoid dental whitening:</b>
    <ul>
        <li>
            If you have gum disease, teeth with worn enamel, cavities or particularly sensitive teeth.
        </li>
        <li>
            If you're pregnant or breast feeding.
        </li>
        <li>
            If you have tooth colored crown, caps or the dental work in your front teeth, which can't be bleached.
        </li>
    </ul>
    <h3>2. Will my teeth get sensitive?</h3>
    <p></p>
    Sensitivity may occur in people after whitening procedure, particularly when they eat hot or cold food, but usually disappears after 48 hours and stops completely when the treatment is stopped or over.
    <h3>3. How white can my teeth get?</h3>
    <p>A change of just 2-3 shades can make a noticeable difference in almost any ones smile. The goal should be to achieve your individual optimum whiteness while still looking natural.</p>


</div>

