
<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 container-fluid " style="margin-top: 50px">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="text-center"> Welcome to Model Dental Clinic </h1>
                </div>
                <div class="panel-body">
                    <form name="iform" action=" " method="get" accept-charset="utf-8">
                        <div style="height:30px; "></div>
                        <div class="form-group">
                            <label>
                                Name :
                                <input class="form-control" type="text" id="nm" placeholder="Enter your name">
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="password"> Password : </label>
                            <input class="form-control input-default" type="password" id="pwd" placeholder="Enter your password?">
                            <span class="text-danger" id="spw"></span>
                        </div>
                        <div style="text-align: center; ">
                            <button class="btn btn-info" type="button" onclick="fyes()" id="fsubmit"> Submit </button>
                            <button class="btn btn-danger " type="button" onclick="fno()" id="freset"> Reset </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function fyes() {
        if (iform.elements['nm'].value == "" || iform.elements['pwd'].value == "") {
            alert("Please fill the field.");
        } else {
            alert("Welcome to Dental Management System..!!");
        }
        var c = iform.elements['pwd'].value;
        if (/^([0-9]+[a-zA-Z]+|[a-zA-Z]+[0-9]+)[0-9a-zA-Z]*$/.test(c) == false) {
            document.getElementById('spw').style.display = 'block';
            document.getElementById('spw').innerHTML = 'Password needs to be Alpha Numeric';
            console.log('pwInterror');
        }

        else {
            document.getElementById('spw').style.display = 'none';
        }
    }
    function fno() {
        var a = document.getElementById('pwd').value;
        console.log(a);
        if (iform.elements['nm'].value == "" && iform.elements['pwd'].value == "") {
            alert("Please fill the field.");
        } else {
            iform.elements['nm'].value = "";
            iform.elements['pwd'].value = "";
        }
    }
</script>